.Loading {
  width: 3em;
  height: 3em;
  display: flex;
	transition: color 0.25s;
	border: solid 3px #eee;
	border-bottom-color: var(--primary-color);
	border-radius: 50%;
	animation: 1s linear infinite spin;
}

@keyframes spin {
  0% {
    transform: translate3d(-50%, -50%, 0) rotate(0deg);
  }
  100% {
    transform: translate3d(-50%, -50%, 0) rotate(360deg);
  }
}
